beautifulsoup4>=4.14.3
geopandas>=1.1.1
matplotlib>=3.10.7
pandas>=2.3.3
pytest>=8.4.2
Requests>=2.32.5
setuptools>=80.9.0
Shapely>=2.1.2
tqdm>=4.67.1
Sphinx>=8.2.3
sphinx_design>=0.6.1
sphinx-prompt>=1.10.1
myst-parser>=4.0.1
commitizen>=4.9.1
coverage>=7.11.0
black>=25.9.0
flake8>=7.3.0
codespell>=2.4.1
isort>=7.0.0
bandit>=1.8.6
safety>=3.6.2
twine>=6.2.0
sphinxcontrib-programoutput>=0.18
glob2>=0.7
shutils>=0.1.0
unittest2py3k>=0.5.1
pydata_sphinx_theme>=0.16.1
pytest-cov>=7.0.0